In [1]:

import pandas as pd
import numpy as np
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [2]:
data=pd.ExcelFile(r'C:\Users\Rida Fatima\Downloads\COVID_FINAL_DATA.xlsx')
data.sheet_names

['TimeSeries_KeyIndicators',
 'TimeSeries_KeyIndicators_Detail',
 'TimeSeries_Action_Screen',
 'TimeSeries_Action_Call',
 'TimeSeries_COVID_News',
 'TimeSeries_NIH_Response',
 'TimeSeries_NIH_Risk',
 'TimeSeries_Province_Response',
 'TimeSeries_Helpline_Calls',
 'TimeSeries_Quarantine_Details']

In [3]:
df1=pd.read_excel(data,sheet_name=0)
df1.head()

,Unnamed: 0,Cumulative,Cumulative Test positive,Cumulative tests performed,Date,Discharged,Expired,Home Quarantine,New (last 24 hrs),Region,Still admitted,Tests performed in last 24 hours
0,4,48,2,80,2020-03-11 00:00:00,0,0,NaN,3,ICT,2,8
1,5,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
2,6,84,14,171,2020-03-11 00:00:00,1,0,NaN,1,Sindh,13,55
3,7,20,0,28,2020-03-11 00:00:00,0,0,NaN,0,KP,0,2
4,8,3,0,0,2020-03-11 00:00:00,0,0,NaN,0,KPTD,0,0

In [4]:
df1.index

RangeIndex(start=0, stop=363, step=1)

In [5]:
df1.columns

Index(['Unnamed: 0', 'Cumulative', 'Cumulative  Test positive',
       'Cumulative  tests performed', 'Date', 'Discharged', 'Expired',
       'Home Quarantine', 'New  (last 24 hrs)', 'Region', 'Still admitted',
       'Tests  performed in last 24 hours'],
      dtype='object')

In [6]:
df1.drop('Unnamed: 0',axis=1,inplace=True) 
df1.head()

,Cumulative,Cumulative Test positive,Cumulative tests performed,Date,Discharged,Expired,Home Quarantine,New (last 24 hrs),Region,Still admitted,Tests performed in last 24 hours
0,48,2,80,2020-03-11 00:00:00,0,0,NaN,3,ICT,2,8
1,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
2,84,14,171,2020-03-11 00:00:00,1,0,NaN,1,Sindh,13,55
3,20,0,28,2020-03-11 00:00:00,0,0,NaN,0,KP,0,2
4,3,0,0,2020-03-11 00:00:00,0,0,NaN,0,KPTD,0,0

In [7]:
df1.columns=df1.columns.str.strip().str.replace(' ','_')

In [8]:
df1.head()

,Cumulative,Cumulative__Test_positive,Cumulative__tests_performed,Date,Discharged,Expired,Home_Quarantine,New__(last_24_hrs),Region,Still_admitted,Tests__performed_in_last_24_hours
0,48,2,80,2020-03-11 00:00:00,0,0,NaN,3,ICT,2,8
1,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
2,84,14,171,2020-03-11 00:00:00,1,0,NaN,1,Sindh,13,55
3,20,0,28,2020-03-11 00:00:00,0,0,NaN,0,KP,0,2
4,3,0,0,2020-03-11 00:00:00,0,0,NaN,0,KPTD,0,0

In [9]:
df1.isnull().sum()

Cumulative                             0
Cumulative__Test_positive              0
Cumulative__tests_performed            0
Date                                   0
Discharged                             0
Expired                                0
Home_Quarantine                      139
New__(last_24_hrs)                     0
Region                                 0
Still_admitted                         0
Tests__performed_in_last_24_hours      0
dtype: int64

In [10]:
df1['Home_Quarantine'].fillna(0,inplace=True) 
df1['Home_Quarantine']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
358      94.0
359     238.0
360     988.0
361    2581.0
362    2913.0
Name: Home_Quarantine, Length: 363, dtype: float64

In [11]:
df1['Home_Quarantine']=df1['Home_Quarantine'].apply(np.int64)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 11 columns):
Cumulative                           363 non-null int64
Cumulative__Test_positive            363 non-null int64
Cumulative__tests_performed          363 non-null int64
Date                                 363 non-null object
Discharged                           363 non-null int64
Expired                              363 non-null int64
Home_Quarantine                      363 non-null int64
New__(last_24_hrs)                   363 non-null int64
Region                               363 non-null object
Still_admitted                       363 non-null int64
Tests__performed_in_last_24_hours    363 non-null object
dtypes: int64(8), object(3)
memory usage: 31.3+ KB

In [12]:
df1['Date']=pd.to_datetime(df1.Date)
df1['Date']

0     2020-03-11
1     2020-03-11
2     2020-03-11
3     2020-03-11
4     2020-03-11
         ...
358   2020-04-29
359   2020-04-29
360   2020-04-29
361   2020-04-29
362   2020-04-29
Name: Date, Length: 363, dtype: datetime64[ns]

In [13]:
df1.dtypes

Cumulative                                    int64
Cumulative__Test_positive                     int64
Cumulative__tests_performed                   int64
Date                                 datetime64[ns]
Discharged                                    int64
Expired                                       int64
Home_Quarantine                               int64
New__(last_24_hrs)                            int64
Region                                       object
Still_admitted                                int64
Tests__performed_in_last_24_hours            object
dtype: object

In [14]:
df1['Tests__performed_in_last_24_hours']=np.where(df1['Tests__performed_in_last_24_hours']=='No 0',0,df1.Tests__performed_in_last_24_hours)

In [15]:
df1['Tests__performed_in_last_24_hours']=df1['Tests__performed_in_last_24_hours'].apply(np.int64)

In [16]:
df1.dtypes

Cumulative                                    int64
Cumulative__Test_positive                     int64
Cumulative__tests_performed                   int64
Date                                 datetime64[ns]
Discharged                                    int64
Expired                                       int64
Home_Quarantine                               int64
New__(last_24_hrs)                            int64
Region                                       object
Still_admitted                                int64
Tests__performed_in_last_24_hours             int64
dtype: object

In [17]:
df1['Tests__performed_in_last_24_hours']

0         8
1         7
2        55
3         2
4         0
       ...
358     132
359     458
360     812
361    2548
362    4112
Name: Tests__performed_in_last_24_hours, Length: 363, dtype: int64

In [18]:
df1.duplicated().any()

False

In [19]:
df1.describe()  #data is clean

,Cumulative,Cumulative__Test_positive,Cumulative__tests_performed,Discharged,Expired,Home_Quarantine,New__(last_24_hrs),Still_admitted,Tests__performed_in_last_24_hours
count,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000
mean,5474.236915,609.752066,6922.528926,145.049587,11.358127,295.730028,369.820937,185.914601,344.969697
std,9646.580573,1144.624812,14195.054632,354.547315,23.058743,1227.649411,655.021853,326.760884,688.249354
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,164.500000,18.000000,318.500000,0.000000,0.000000,0.000000,11.000000,10.000000,0.000000
50%,1494.000000,169.000000,1563.000000,5.000000,1.000000,0.000000,95.000000,30.000000,37.000000
75%,5503.500000,539.500000,5397.000000,138.500000,8.500000,182.000000,393.500000,227.500000,287.000000
max,48061.000000,5827.000000,77619.000000,2577.000000,114.000000,21452.000000,4112.000000,1719.000000,4112.000000

In [20]:
df1.loc[df1['Region']=='KPTD']

,Cumulative,Cumulative__Test_positive,Cumulative__tests_performed,Date,Discharged,Expired,Home_Quarantine,New__(last_24_hrs),Region,Still_admitted,Tests__performed_in_last_24_hours
4,3,0,0,2020-03-11,0,0,0,0,KPTD,0,0
12,3,0,0,2020-03-12,0,0,0,0,KPTD,0,0
20,4,0,0,2020-03-13,0,0,0,1,KPTD,0,0
28,4,0,0,2020-03-14,0,0,0,0,KPTD,0,0
36,5,0,0,2020-03-15,0,0,0,1,KPTD,0,0
44,5,0,0,2020-03-16,0,0,0,0,KPTD,0,0
53,5,0,0,2020-03-17,0,0,0,0,KPTD,0,0
61,6,0,0,2020-03-18,0,0,0,1,KPTD,0,0
69,7,0,0,2020-03-19,0,0,0,1,KPTD,0,0
77,19,0,0,2020-03-20,0,0,0,12,KPTD,0,0
85,21,0,0,2020-03-21,0,0,0,2,KPTD,0,0
93,21,0,0,2020-03-22,0,0,0,0,KPTD,0,0

In [21]:
df1.loc[df1['Region']=='Mobile Lab']

,Cumulative,Cumulative__Test_positive,Cumulative__tests_performed,Date,Discharged,Expired,Home_Quarantine,New__(last_24_hrs),Region,Still_admitted,Tests__performed_in_last_24_hours
48,0,6,28,2020-03-16,0,0,0,0,Mobile Lab,0,6

In [22]:
df1.drop(df1.loc[df1['Region'].isin(['KPTD','Mobile Lab'])].index,inplace=True)
df1.shape

(350, 11)

In [23]:
df1.head()

,Cumulative,Cumulative__Test_positive,Cumulative__tests_performed,Date,Discharged,Expired,Home_Quarantine,New__(last_24_hrs),Region,Still_admitted,Tests__performed_in_last_24_hours
0,48,2,80,2020-03-11,0,0,0,3,ICT,2,8
1,61,0,95,2020-03-11,0,0,0,6,Punjab,0,7
2,84,14,171,2020-03-11,1,0,0,1,Sindh,13,55
3,20,0,28,2020-03-11,0,0,0,0,KP,0,2
5,19,1,18,2020-03-11,0,0,0,4,Balochistan,1,4

In [24]:
df1.Region

0              ICT
1           Punjab
2            Sindh
3               KP
5      Balochistan
          ...
358             GB
359            ICT
360             KP
361         Punjab
362          Sindh
Name: Region, Length: 350, dtype: object

In [25]:
#df1.to_excel(r'',sheet_name='')

In [26]:
df2=pd.read_excel(data,sheet_name=1)
df2.head()

,Date,Province Old,Suspected Cases Last Date,Suspected Cases Last 24 Hrs,Suspected Cases Cumulative,Lab Tests Last 24 Hrs,Lab Tests Cumulative,Confirmed Cases Last Date,Confirmed Cases Last 24 Hrs,Confirmed Cases Cumulative,...,Confirmed HW - Active Doctors,Confirmed HW - Active Nurses,Confirmed HW - Active Others,Confirmed HW - Active Total,Confirmed HW - Active Isolation,Confirmed HW - Active Hospital,Confirmed HW - Active Hospital Stable,Confirmed HW - Active Hospital Ventilator,Confirmed HW - Active Recovered,Confirmed HW - Active Deaths
0,2020-04-04,AJK,322,21,343,21,343,9,2,11,...,0,0,0,0,0,0,0,0,0,0
1,2020-04-04,Balochistan,2171,230,2401,0,2401,169,6,175,...,0,0,0,0,0,0,0,0,0,0
2,2020-04-04,GB,961,2,963,844,860,190,3,193,...,0,0,0,0,0,0,0,0,0,0
3,2020-04-04,ICT,2395,174,2569,174,2569,68,7,75,...,0,0,0,0,0,0,0,0,0,0
4,2020-04-04,KP,1938,431,2369,181,1624,311,32,343,...,0,0,0,0,0,0,0,0,0,0

In [27]:
df2.shape

(154, 52)

In [28]:
df2.columns

Index(['Date', 'Province Old', 'Suspected Cases Last Date',
       'Suspected Cases Last 24 Hrs', 'Suspected Cases Cumulative',
       'Lab Tests Last 24 Hrs', 'Lab Tests Cumulative',
       'Confirmed Cases Last Date', 'Confirmed Cases Last 24 Hrs',
       'Confirmed Cases Cumulative', ' Deaths Last Date',
       ' Deaths Last 24 Hrs', ' Deaths Cumulative', 'Transmission Total',
       'Transmission Foreign - Iran', 'Transmission Foreign - Iran %',
       'Transmission Foreign - Other', 'Transmission Foreign - Other %',
       'Transmission Local - Tableegh', 'Transmission Local % - Tableegh',
       'Transmission Local - Others', 'Transmission Local % - Others',
       'Transmission Local', 'Transmission Local %', 'Total Hospitals',
       'Beds for COVID', 'Total Admitted', 'Admitted Stable',
       'Admitted Critical', 'Admitted Venilator', 'Home Quarantine',
       'Recovered', 'Death', 'Quarantine Facilities', 'Last 24 Hrs Arrival',
       'Last 24 Hrs (Location)', 'Last 24 Hrs Departure',
       'Cumulative Quarantined', 'Number of Tests', 'Results Achieved',
       'Test Positive Cases', 'Test Positive Cases %',
       'Confirmed HW - Active Doctors', 'Confirmed HW - Active Nurses',
       'Confirmed HW - Active Others', 'Confirmed HW - Active Total',
       'Confirmed HW - Active Isolation', 'Confirmed HW - Active Hospital',
       'Confirmed HW - Active Hospital Stable',
       'Confirmed HW - Active Hospital Ventilator',
       'Confirmed HW - Active Recovered', 'Confirmed HW - Active Deaths'],
      dtype='object')

In [29]:
df2['Province Old'].unique()

array(['AJK', 'Balochistan', 'GB', 'ICT', 'KP', 'Punjab', 'Sindh'],
      dtype=object)

In [30]:
df2.columns=df2.columns.str.strip().str.replace(' ','_')

In [31]:
df2.head()

,Date,Province_Old,Suspected_Cases_Last_Date,Suspected_Cases_Last_24_Hrs,Suspected_Cases_Cumulative,Lab_Tests_Last_24_Hrs,Lab_Tests_Cumulative,Confirmed_Cases_Last_Date,Confirmed_Cases_Last_24_Hrs,Confirmed_Cases_Cumulative,...,Confirmed_HW_-_Active_Doctors,Confirmed_HW_-_Active_Nurses,Confirmed_HW_-_Active_Others,Confirmed_HW_-_Active_Total,Confirmed_HW_-_Active_Isolation,Confirmed_HW_-_Active_Hospital,Confirmed_HW_-_Active_Hospital_Stable,Confirmed_HW_-_Active_Hospital_Ventilator,Confirmed_HW_-_Active_Recovered,Confirmed_HW_-_Active_Deaths
0,2020-04-04,AJK,322,21,343,21,343,9,2,11,...,0,0,0,0,0,0,0,0,0,0
1,2020-04-04,Balochistan,2171,230,2401,0,2401,169,6,175,...,0,0,0,0,0,0,0,0,0,0
2,2020-04-04,GB,961,2,963,844,860,190,3,193,...,0,0,0,0,0,0,0,0,0,0
3,2020-04-04,ICT,2395,174,2569,174,2569,68,7,75,...,0,0,0,0,0,0,0,0,0,0
4,2020-04-04,KP,1938,431,2369,181,1624,311,32,343,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 52 columns):
Date                                         154 non-null datetime64[ns]
Province_Old                                 154 non-null object
Suspected_Cases_Last_Date                    154 non-null int64
Suspected_Cases_Last_24_Hrs                  154 non-null int64
Suspected_Cases_Cumulative                   154 non-null int64
Lab_Tests_Last_24_Hrs                        154 non-null int64
Lab_Tests_Cumulative                         154 non-null int64
Confirmed_Cases_Last_Date                    154 non-null int64
Confirmed_Cases_Last_24_Hrs                  154 non-null int64
Confirmed_Cases_Cumulative                   154 non-null int64
Deaths_Last_Date                             154 non-null int64
Deaths_Last_24_Hrs                           154 non-null int64
Deaths_Cumulative                            154 non-null int64
Transmission_Total                           154 non-null int64
Transmission_Foreign_-_Iran                  154 non-null int64
Transmission_Foreign_-_Iran_%                154 non-null float64
Transmission_Foreign_-_Other                 154 non-null int64
Transmission_Foreign_-_Other_%               154 non-null float64
Transmission_Local_-_Tableegh                154 non-null int64
Transmission_Local_%_-_Tableegh              154 non-null float64
Transmission_Local_-_Others                  154 non-null int64
Transmission_Local_%_-_Others                154 non-null float64
Transmission_Local                           154 non-null int64
Transmission_Local_%                         154 non-null float64
Total_Hospitals                              154 non-null int64
Beds_for_COVID                               154 non-null int64
Total_Admitted                               154 non-null int64
Admitted_Stable                              154 non-null int64
Admitted_Critical                            154 non-null int64
Admitted_Venilator                           154 non-null int64
Home_Quarantine                              154 non-null int64
Recovered                                    154 non-null int64
Death                                        154 non-null int64
Quarantine_Facilities                        154 non-null int64
Last_24_Hrs_Arrival                          154 non-null int64
Last_24_Hrs_(Location)                       154 non-null int64
Last_24_Hrs_Departure                        154 non-null int64
Cumulative_Quarantined                       154 non-null int64
Number_of_Tests                              154 non-null int64
Results_Achieved                             154 non-null int64
Test_Positive_Cases                          154 non-null int64
Test_Positive_Cases_%                        154 non-null float64
Confirmed_HW_-_Active_Doctors                154 non-null int64
Confirmed_HW_-_Active_Nurses                 154 non-null int64
Confirmed_HW_-_Active_Others                 154 non-null int64
Confirmed_HW_-_Active_Total                  154 non-null int64
Confirmed_HW_-_Active_Isolation              154 non-null int64
Confirmed_HW_-_Active_Hospital               154 non-null int64
Confirmed_HW_-_Active_Hospital_Stable        154 non-null int64
Confirmed_HW_-_Active_Hospital_Ventilator    154 non-null int64
Confirmed_HW_-_Active_Recovered              154 non-null int64
Confirmed_HW_-_Active_Deaths                 154 non-null int64
dtypes: datetime64[ns](1), float64(6), int64(44), object(1)
memory usage: 62.7+ KB

In [33]:
df2.isnull().sum()

Date                                         0
Province_Old                                 0
Suspected_Cases_Last_Date                    0
Suspected_Cases_Last_24_Hrs                  0
Suspected_Cases_Cumulative                   0
Lab_Tests_Last_24_Hrs                        0
Lab_Tests_Cumulative                         0
Confirmed_Cases_Last_Date                    0
Confirmed_Cases_Last_24_Hrs                  0
Confirmed_Cases_Cumulative                   0
Deaths_Last_Date                             0
Deaths_Last_24_Hrs                           0
Deaths_Cumulative                            0
Transmission_Total                           0
Transmission_Foreign_-_Iran                  0
Transmission_Foreign_-_Iran_%                0
Transmission_Foreign_-_Other                 0
Transmission_Foreign_-_Other_%               0
Transmission_Local_-_Tableegh                0
Transmission_Local_%_-_Tableegh              0
Transmission_Local_-_Others                  0
Transmission_Local_%_-_Others                0
Transmission_Local                           0
Transmission_Local_%                         0
Total_Hospitals                              0
Beds_for_COVID                               0
Total_Admitted                               0
Admitted_Stable                              0
Admitted_Critical                            0
Admitted_Venilator                           0
Home_Quarantine                              0
Recovered                                    0
Death                                        0
Quarantine_Facilities                        0
Last_24_Hrs_Arrival                          0
Last_24_Hrs_(Location)                       0
Last_24_Hrs_Departure                        0
Cumulative_Quarantined                       0
Number_of_Tests                              0
Results_Achieved                             0
Test_Positive_Cases                          0
Test_Positive_Cases_%                        0
Confirmed_HW_-_Active_Doctors                0
Confirmed_HW_-_Active_Nurses                 0
Confirmed_HW_-_Active_Others                 0
Confirmed_HW_-_Active_Total                  0
Confirmed_HW_-_Active_Isolation              0
Confirmed_HW_-_Active_Hospital               0
Confirmed_HW_-_Active_Hospital_Stable        0
Confirmed_HW_-_Active_Hospital_Ventilator    0
Confirmed_HW_-_Active_Recovered              0
Confirmed_HW_-_Active_Deaths                 0
dtype: int64

In [34]:
df2.duplicated().sum()

0

In [35]:
df2.isin([0]).sum()

Date                                           0
Province_Old                                   0
Suspected_Cases_Last_Date                      0
Suspected_Cases_Last_24_Hrs                    0
Suspected_Cases_Cumulative                     0
Lab_Tests_Last_24_Hrs                          1
Lab_Tests_Cumulative                           0
Confirmed_Cases_Last_Date                      0
Confirmed_Cases_Last_24_Hrs                    8
Confirmed_Cases_Cumulative                     0
Deaths_Last_Date                              26
Deaths_Last_24_Hrs                            81
Deaths_Cumulative                             25
Transmission_Total                             0
Transmission_Foreign_-_Iran                   22
Transmission_Foreign_-_Iran_%                 22
Transmission_Foreign_-_Other                   0
Transmission_Foreign_-_Other_%                 6
Transmission_Local_-_Tableegh                 24
Transmission_Local_%_-_Tableegh               24
Transmission_Local_-_Others                   24
Transmission_Local_%_-_Others                 24
Transmission_Local                             0
Transmission_Local_%                           0
Total_Hospitals                                0
Beds_for_COVID                                 0
Total_Admitted                                 0
Admitted_Stable                                0
Admitted_Critical                             62
Admitted_Venilator                           148
Home_Quarantine                               22
Recovered                                      1
Death                                         25
Quarantine_Facilities                          0
Last_24_Hrs_Arrival                           77
Last_24_Hrs_(Location)                       154
Last_24_Hrs_Departure                         61
Cumulative_Quarantined                         2
Number_of_Tests                                8
Results_Achieved                               1
Test_Positive_Cases                            1
Test_Positive_Cases_%                          1
Confirmed_HW_-_Active_Doctors                126
Confirmed_HW_-_Active_Nurses                 134
Confirmed_HW_-_Active_Others                 126
Confirmed_HW_-_Active_Total                  126
Confirmed_HW_-_Active_Isolation              138
Confirmed_HW_-_Active_Hospital               131
Confirmed_HW_-_Active_Hospital_Stable        131
Confirmed_HW_-_Active_Hospital_Ventilator    151
Confirmed_HW_-_Active_Recovered              127
Confirmed_HW_-_Active_Deaths                 144
dtype: int64

In [36]:
cols=np.where(((df2.isin([0]).sum())>=(len(df2)/2))==True)

In [37]:
df2.drop(df2.columns[cols],axis=1,inplace=True)

In [38]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 38 columns):
Date                               154 non-null datetime64[ns]
Province_Old                       154 non-null object
Suspected_Cases_Last_Date          154 non-null int64
Suspected_Cases_Last_24_Hrs        154 non-null int64
Suspected_Cases_Cumulative         154 non-null int64
Lab_Tests_Last_24_Hrs              154 non-null int64
Lab_Tests_Cumulative               154 non-null int64
Confirmed_Cases_Last_Date          154 non-null int64
Confirmed_Cases_Last_24_Hrs        154 non-null int64
Confirmed_Cases_Cumulative         154 non-null int64
Deaths_Last_Date                   154 non-null int64
Deaths_Cumulative                  154 non-null int64
Transmission_Total                 154 non-null int64
Transmission_Foreign_-_Iran        154 non-null int64
Transmission_Foreign_-_Iran_%      154 non-null float64
Transmission_Foreign_-_Other       154 non-null int64
Transmission_Foreign_-_Other_%     154 non-null float64
Transmission_Local_-_Tableegh      154 non-null int64
Transmission_Local_%_-_Tableegh    154 non-null float64
Transmission_Local_-_Others        154 non-null int64
Transmission_Local_%_-_Others      154 non-null float64
Transmission_Local                 154 non-null int64
Transmission_Local_%               154 non-null float64
Total_Hospitals                    154 non-null int64
Beds_for_COVID                     154 non-null int64
Total_Admitted                     154 non-null int64
Admitted_Stable                    154 non-null int64
Admitted_Critical                  154 non-null int64
Home_Quarantine                    154 non-null int64
Recovered                          154 non-null int64
Death                              154 non-null int64
Quarantine_Facilities              154 non-null int64
Last_24_Hrs_Departure              154 non-null int64
Cumulative_Quarantined             154 non-null int64
Number_of_Tests                    154 non-null int64
Results_Achieved                   154 non-null int64
Test_Positive_Cases                154 non-null int64
Test_Positive_Cases_%              154 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(30), object(1)
memory usage: 45.8+ KB

In [39]:
df3=pd.read_excel(data,sheet_name=2)
df3.head()

,Date,Cumulative travelers Screened,Suspected at Points of Entry,Travelers Screened at Points ofEntry in last 24 hours
0,11-Mar-2020,873288,26,21102
1,12-Mar-2020,894256,29,20968
2,13-Mar-2020,913542,33,19286
3,14-Mar-2020,933970,43,20428
4,15-Mar-2020,954646,59,20676

In [40]:
df3.shape

(24, 4)

In [41]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
Date                                                     24 non-null object
Cumulative travelers Screened                            24 non-null int64
Suspected at Points of Entry                             24 non-null int64
Travelers Screened at Points ofEntry in last 24 hours    24 non-null int64
dtypes: int64(3), object(1)
memory usage: 896.0+ bytes

In [42]:
df3.columns=df3.columns.str.strip().str.replace(' ','_')

In [43]:
df3['Date']=pd.to_datetime(df3['Date'])
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
Date                                                     24 non-null datetime64[ns]
Cumulative_travelers_Screened                            24 non-null int64
Suspected_at_Points_of_Entry                             24 non-null int64
Travelers_Screened_at_Points_ofEntry_in_last_24_hours    24 non-null int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 896.0 bytes

In [44]:
df3.isnull().sum()

Date                                                     0
Cumulative_travelers_Screened                            0
Suspected_at_Points_of_Entry                             0
Travelers_Screened_at_Points_ofEntry_in_last_24_hours    0
dtype: int64

In [45]:
df3.duplicated().sum()

0

In [46]:
df3.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Date                                                     0
Cumulative_travelers_Screened                            0
Suspected_at_Points_of_Entry                             0
Travelers_Screened_at_Points_ofEntry_in_last_24_hours    0
dtype: int64

In [47]:
df4=pd.read_excel(data,sheet_name=3)
df4.head()

,Returnees,Advised Self-Quarantine,Cumulative no offirst-time calls,Cumulativefollow-up calls,Date,First-time calls inpast 24 hrs,Follow-up calls inpast 24 hrs
0,Returnees from Iran,0,9459,2553,11-Mar-2020,0,353
1,Returnees from China,11,5342,7746,11-Mar-2020,17,400
2,Returnees from Iran,14,9475,3221,12-Mar-2020,16,668
3,Returnees from China,7,5352,7855,12-Mar-2020,10,109
4,Returnees from Iran,0,9475,3853,13-Mar-2020,0,632

In [48]:
df4.shape

(40, 7)

In [49]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 7 columns):
Returnees                           40 non-null object
Advised Self-Quarantine             40 non-null int64
Cumulative no offirst-time calls    40 non-null int64
Cumulativefollow-up calls           40 non-null int64
Date                                40 non-null object
First-time calls inpast 24 hrs      40 non-null int64
Follow-up calls inpast 24 hrs       40 non-null int64
dtypes: int64(5), object(2)
memory usage: 2.3+ KB

In [50]:
df4['Date']=pd.to_datetime(df4['Date'])

In [51]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 7 columns):
Returnees                           40 non-null object
Advised Self-Quarantine             40 non-null int64
Cumulative no offirst-time calls    40 non-null int64
Cumulativefollow-up calls           40 non-null int64
Date                                40 non-null datetime64[ns]
First-time calls inpast 24 hrs      40 non-null int64
Follow-up calls inpast 24 hrs       40 non-null int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 2.3+ KB

In [52]:
df4.isnull().sum()

Returnees                           0
Advised Self-Quarantine             0
Cumulative no offirst-time calls    0
Cumulativefollow-up calls           0
Date                                0
First-time calls inpast 24 hrs      0
Follow-up calls inpast 24 hrs       0
dtype: int64

In [53]:
df4.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Returnees                           0
Advised Self-Quarantine             0
Cumulative no offirst-time calls    0
Cumulativefollow-up calls           0
Date                                0
First-time calls inpast 24 hrs      0
Follow-up calls inpast 24 hrs       0
dtype: int64

In [54]:
df5=pd.read_excel(data,sheet_name=4)
df5.head()

,Unnamed: 0,Date,News,Agg News
0,0,11-Mar-2020,Updates: Pakistan:,Updates: Pakistan: \n Three new cases have bee...
1,1,11-Mar-2020,Three new cases have been confirmed in the pas...,Updates: Pakistan: \n Three new cases have bee...
2,2,11-Mar-2020,Number of calls to passengers returning from I...,Updates: Pakistan: \n Three new cases have bee...
3,3,11-Mar-2020,Global:,Updates: Pakistan: \n Three new cases have bee...
4,4,11-Mar-2020,"Total cases: 118,887, Total Deaths: 4,290 •",Updates: Pakistan: \n Three new cases have bee...

In [55]:
df5.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
df5.head()

,Date,News,Agg News
0,11-Mar-2020,Updates: Pakistan:,Updates: Pakistan: \n Three new cases have bee...
1,11-Mar-2020,Three new cases have been confirmed in the pas...,Updates: Pakistan: \n Three new cases have bee...
2,11-Mar-2020,Number of calls to passengers returning from I...,Updates: Pakistan: \n Three new cases have bee...
3,11-Mar-2020,Global:,Updates: Pakistan: \n Three new cases have bee...
4,11-Mar-2020,"Total cases: 118,887, Total Deaths: 4,290 •",Updates: Pakistan: \n Three new cases have bee...

In [56]:
df5['Date']=pd.to_datetime(df5['Date'])
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 3 columns):
Date        146 non-null datetime64[ns]
News        146 non-null object
Agg News    146 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 3.5+ KB

In [57]:
df5.isnull().sum()

Date        0
News        0
Agg News    0
dtype: int64

In [58]:
print(df5.duplicated().sum())
df5.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

0

Date        0
News        0
Agg News    0
dtype: int64

In [59]:
df6=pd.read_excel(data,sheet_name=5)
df6.head()

,Unnamed: 0,Date,NIH Preparedness and Response,Agg NIH Preparedness and Response
0,0,11-Mar-2020,BSL-3 mobile lab with state of art equipment h...,BSL-3 mobile lab with state of art equipment h...
1,1,11-Mar-2020,IPC trainings have been completed at Gilgit an...,BSL-3 mobile lab with state of art equipment h...
2,2,11-Mar-2020,Training of the GB lab staff has been conducte...,BSL-3 mobile lab with state of art equipment h...
3,3,11-Mar-2020,IPC training is in progress for FG Hospital st...,BSL-3 mobile lab with state of art equipment h...
4,0,12-Mar-2020,BSL-3 mobile lab is ready for testing. •,BSL-3 mobile lab is ready for testing. • \n I...

In [60]:
df6.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
df6.head()

,Date,NIH Preparedness and Response,Agg NIH Preparedness and Response
0,11-Mar-2020,BSL-3 mobile lab with state of art equipment h...,BSL-3 mobile lab with state of art equipment h...
1,11-Mar-2020,IPC trainings have been completed at Gilgit an...,BSL-3 mobile lab with state of art equipment h...
2,11-Mar-2020,Training of the GB lab staff has been conducte...,BSL-3 mobile lab with state of art equipment h...
3,11-Mar-2020,IPC training is in progress for FG Hospital st...,BSL-3 mobile lab with state of art equipment h...
4,12-Mar-2020,BSL-3 mobile lab is ready for testing. •,BSL-3 mobile lab is ready for testing. • \n I...

In [61]:
df6['Date']=pd.to_datetime(df6['Date'])
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 3 columns):
Date                                 65 non-null datetime64[ns]
NIH Preparedness and Response        65 non-null object
Agg NIH Preparedness and Response    65 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 1.6+ KB

In [62]:
print(df6.isnull().sum())

Date                                 0
NIH Preparedness and Response        0
Agg NIH Preparedness and Response    0
dtype: int64

In [63]:
df6.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Date                                 0
NIH Preparedness and Response        0
Agg NIH Preparedness and Response    0
dtype: int64

In [64]:
df6.duplicated().sum()

0

In [65]:
df7=pd.read_excel(data,sheet_name=6)
df7.head()

   Unnamed: 0         Date Risk Assessment NIH
0           0  11-Mar-2020           MODERATE.
1           0  12-Mar-2020           MODERATE.
2           0  13-Mar-2020           MODERATE.
3           0  14-Mar-2020           MODERATE.
4           0  15-Mar-2020            Moderate

In [66]:
df7.shape

(24, 3)

In [67]:
df7.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
df7.head()

          Date Risk Assessment NIH
0  11-Mar-2020           MODERATE.
1  12-Mar-2020           MODERATE.
2  13-Mar-2020           MODERATE.
3  14-Mar-2020           MODERATE.
4  15-Mar-2020            Moderate

In [68]:
df7['Date']=pd.to_datetime(df7['Date'])
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
Date                   24 non-null datetime64[ns]
Risk Assessment NIH    24 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 512.0+ bytes

In [69]:
df7.duplicated().sum()

0

In [70]:
df8=pd.read_excel(data,sheet_name=7)
df8.head()

,Unnamed: 0,region,Provinces Preparedness and Response,Date,Agg Provinces Preparedness and Response
0,0,Balochistan,316 newly arrived individuals screened and qua...,11-Mar-2020,316 newly arrived individuals screened and qua...
1,1,Balochistan,14 Chinese nationals quarantined at East Bay E...,11-Mar-2020,316 newly arrived individuals screened and qua...
2,2,Sindh,Staff deployed to designated quarantine facili...,11-Mar-2020,Staff deployed to designated quarantine facili...
3,3,Sindh,Training and orientation sessions for the heal...,11-Mar-2020,Staff deployed to designated quarantine facili...
4,4,KP & TD,24 High Dependency Units established across KP...,11-Mar-2020,24 High Dependency Units established across KP...

In [71]:
df8.region.unique()

array(['Balochistan', 'Sindh', 'KP & TD', 'GB', 'Punjab', 'AJK', 'ICT',
       'KP'], dtype=object)

In [72]:
df8.shape

(166, 5)

In [73]:
df8[df8['Unnamed: 0']==4]

,Unnamed: 0,region,Provinces Preparedness and Response,Date,Agg Provinces Preparedness and Response
4,4,KP & TD,24 High Dependency Units established across KP...,11-Mar-2020,24 High Dependency Units established across KP...
12,4,KP & TD,01 alert generated (self-referral) in Police a...,12-Mar-2020,01 alert generated (self-referral) in Police a...
20,4,KP & TD,"A total of 75 personnel including doctors, par...",13-Mar-2020,"A total of 75 personnel including doctors, par..."
29,4,AJK,Chest Diseases General Hospital (CDGH) Hill Ch...,14-Mar-2020,Chest Diseases General Hospital (CDGH) Hill Ch...
36,4,Sindh,Quarantine facilities established and operatio...,15-Mar-2020,Quarantine facilities established and operatio...
46,4,KP & TD,Four new suspected cases reported from Police ...,16-Mar-2020,Four new suspected cases reported from Police ...
54,4,Punjab,"PDSRU is in 24/7 coordination with NIH, Islama...",17-Mar-2020,"PDSRU is in 24/7 coordination with NIH, Islama..."
62,4,KP & TD,Quarantine facility for 171 passengers establi...,18-Mar-2020,Quarantine facility for 171 passengers establi...
70,4,AJK,Contact tracing of confirmed case being carrie...,19-Mar-2020,Contact tracing of confirmed case being carrie...
76,4,KP & TD,Contact tracing of all suspected and confirmed...,20-Mar-2020,Contact tracing of all suspected and confirmed...
83,4,KP & TD,30 people who have an international travel his...,21-Mar-2020,30 people who have an international travel his...
90,4,KP & TD,Incident Command and Management Centre regardi...,22-Mar-2020,Incident Command and Management Centre regardi...
97,4,AJK,13 new pilgrims have been received from Taftan...,23-Mar-2020,13 new pilgrims have been received from Taftan...
103,4,AJK,VTM kits made available at all designated hosp...,24-Mar-2020,VTM kits made available at all designated hosp...
109,4,GB,Gilgit and Baltistan announced 2 Red Zones. •,25-Mar-2020,Gilgit and Baltistan announced 2 Red Zones. •
114,4,AJK,SOPs on COVID-19 prepared by Dept of AJK have ...,26-Mar-2020,SOPs on COVID-19 prepared by Dept of AJK have ...
120,4,AJK,SOPs on COVID-19 prepared by Dept of AJK have ...,27-Mar-2020,SOPs on COVID-19 prepared by Dept of AJK have ...
126,4,AJK,A new field isolation hospital for COVID-19 wi...,28-Mar-2020,A new field isolation hospital for COVID-19 wi...
132,4,AJK,SOPs on COVID-19 prepared by Department of hea...,29-Mar-2020,SOPs on COVID-19 prepared by Department of hea...
138,4,AJK,A new field isolation hospital for COVID-19 pa...,30-Mar-2020,A new field isolation hospital for COVID-19 pa...
144,4,KP,Equipment and supplies including oxygen concen...,2020-03-31 00:00:00,Equipment and supplies including oxygen concen...
151,4,AJK,Contact tracing of confirmed cases done. 50 sa...,2020-04-01 00:00:00,Contact tracing of confirmed cases done. 50 sa...
157,4,AJK,MNCH program released Rs. 2.25 million to all ...,2020-04-02 00:00:00,MNCH program released Rs. 2.25 million to all ...
163,4,KP,Data transcription on to the IPMS software hos...,2020-04-03 00:00:00,Data transcription on to the IPMS software hos...

In [74]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 5 columns):
Unnamed: 0                                 166 non-null int64
region                                     166 non-null object
Provinces Preparedness and Response        166 non-null object
Date                                       166 non-null object
Agg Provinces Preparedness and Response    166 non-null object
dtypes: int64(1), object(4)
memory usage: 6.6+ KB

In [75]:
df8['Date']=pd.to_datetime(df8['Date'])
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 5 columns):
Unnamed: 0                                 166 non-null int64
region                                     166 non-null object
Provinces Preparedness and Response        166 non-null object
Date                                       166 non-null datetime64[ns]
Agg Provinces Preparedness and Response    166 non-null object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 6.6+ KB

In [76]:
df8.isnull().sum()

Unnamed: 0                                 0
region                                     0
Provinces Preparedness and Response        0
Date                                       0
Agg Provinces Preparedness and Response    0
dtype: int64

In [77]:
df8.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Unnamed: 0                                 0
region                                     0
Provinces Preparedness and Response        0
Date                                       0
Agg Provinces Preparedness and Response    0
dtype: int64

In [78]:
df8.duplicated().sum()

0

In [79]:
df9=pd.read_excel(data,sheet_name=8)
df9.head()

   Unnamed: 0  Cumulative Calls       Date  New Calls
0           0             12481 2020-03-11        547
1           0             13167 2020-03-12        686
2           0             13896 2020-03-13        729
3           0             15340 2020-03-14       1444
4           0             19131 2020-03-15       3791

In [80]:
df9.shape

(24, 4)

In [81]:
df9['Unnamed: 0'].isin([0]).sum()

24

In [82]:
df9.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
df9.head()

   Cumulative Calls       Date  New Calls
0             12481 2020-03-11        547
1             13167 2020-03-12        686
2             13896 2020-03-13        729
3             15340 2020-03-14       1444
4             19131 2020-03-15       3791

In [83]:
df9.columns=df9.columns.str.strip().str.capitalize().str.replace(' ','_')

In [84]:
df9['Date']=pd.to_datetime(df9['Date'])
df9.head()

   Cumulative_calls       Date  New_calls
0             12481 2020-03-11        547
1             13167 2020-03-12        686
2             13896 2020-03-13        729
3             15340 2020-03-14       1444
4             19131 2020-03-15       3791

In [85]:
print(df9.isnull().sum())
df9.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Cumulative_calls    0
Date                0
New_calls           0
dtype: int64

Cumulative_calls    0
Date                0
New_calls           0
dtype: int64

In [86]:
df9.duplicated().sum()

0

In [87]:
df10=pd.read_excel(data,sheet_name=9)
df10.head()

,Unnamed: 0,Regions,Quarantine facilities (n),No. of arrivals in last 24 hrs,Cumulative no of persons present,Date
0,0,ICT,1,0,24,2020-04-01
1,1,Punjab,4,0,2956,2020-04-01
2,2,Sindh,5,0,1388,2020-04-01
3,3,KP,92,181,3260,2020-04-01
4,4,Balochistan,9,0,366,2020-04-01

In [88]:
df10.shape

(21, 6)

In [89]:
df10.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
df10.head()

,Regions,Quarantine facilities (n),No. of arrivals in last 24 hrs,Cumulative no of persons present,Date
0,ICT,1,0,24,2020-04-01
1,Punjab,4,0,2956,2020-04-01
2,Sindh,5,0,1388,2020-04-01
3,KP,92,181,3260,2020-04-01
4,Balochistan,9,0,366,2020-04-01

In [90]:
df10['Date']=pd.to_datetime(df10['Date']) 
df10.head()

,Regions,Quarantine facilities (n),No. of arrivals in last 24 hrs,Cumulative no of persons present,Date
0,ICT,1,0,24,2020-04-01
1,Punjab,4,0,2956,2020-04-01
2,Sindh,5,0,1388,2020-04-01
3,KP,92,181,3260,2020-04-01
4,Balochistan,9,0,366,2020-04-01

In [91]:
print(df10.isnull().any())

Regions                             False
Quarantine facilities (n)           False
No. of arrivals in last 24 hrs      False
Cumulative no of persons present    False
Date                                False
dtype: bool

In [92]:
df10.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Regions                             0
Quarantine facilities (n)           0
No. of arrivals in last 24 hrs      0
Cumulative no of persons present    0
Date                                0
dtype: int64

In [93]:
df10.duplicated().sum()

0

In [94]:
df10.Regions.unique()

array(['ICT', 'Punjab', 'Sindh', 'KP', 'Balochistan', 'AJK', 'GB'],
      dtype=object)

In [95]:
with pd.ExcelWriter('COVID_FINAL.xlsx') as writer:  # doctest: +SKIP
...     df1.to_excel(writer, sheet_name='TimeSeries_KeyIndicator')
...     df2.to_excel(writer, sheet_name='TimeSeries_KeyIndicator_Detail')
...     df3.to_excel(writer, sheet_name='TimeSeries_Action_Screen')
...     df4.to_excel(writer, sheet_name='TimeSeries_Action_Call')
...     df5.to_excel(writer, sheet_name='TimeSeries_COVID_News')
...     df6.to_excel(writer, sheet_name='TimeSeries_NIH_Response')
...     df7.to_excel(writer, sheet_name='TimeSeries_NIH_Risk')
...     df8.to_excel(writer, sheet_name='TimeSeries_Province_Response')
...     df9.to_excel(writer, sheet_name='TimeSeries_Helpline_Calls')
...     df9.to_excel(writer, sheet_name='TimeSeries_Helpline_Calls')
...     df10.to_excel(writer, sheet_name='TimeSeries_Qurantine_Details')